* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/background-04.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* El contenedor */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-column-gap: 16px;
  justify-content: center;
  align-items: center;
}

.grid-container div {
  background-color: #5900ff;
  border: solid 2px black;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  color: white;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(3, 200px);
  }

  .grid-container div {
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 200px);
    grid-row-gap: 16px;
  }
}

@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: 200px;
  }
}